@import "~nord/src/sass/nord.scss";

.fileBrowser {
    position: fixed;

    /* or absolute, depending on your use case */
    height: calc(100vh - 30px);
    width: 250px;
    background-color: $nord3;
    /* or any other background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    bottom: 0px;
    /* optional box shadow */
}

.fileBrowserItem {
    font-family: monospace;

    color: $nord5;
}