@import "~nord/src/sass/nord.scss";

.fileBrowser {
    position: fixed;

    /* or absolute, depending on your use case */
    height: 100vh;
    width: 250px;
    background-color: $nord3;
    /* or any other background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* optional box shadow */
}

.fileBrowserItem {
    font-family: monospace;

    color: $nord5;
}