@import "~nord/src/sass/nord.scss";

.statusBar {
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: $nord8;
    bottom: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5px;
}

.statusBarItem {
    font-family: monospace;
    font-size: medium;

    color: $nord0;
}